.main__container{
    box-shadow: 0 4px 15px rgb(0 0 0 / 10%);
    background-color: white;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6%;
    justify-content: center
}

.registraion{
    display: flex;
    justify-content: center;
    width: 800px;
}

.registraion__list{
    margin-top: 55px;
    display: flex;
    gap: 33px;
    flex-direction: column;
}
h2{
    font-size: 27px;
    margin-top: 75px;
}

.registraion__item label{
    font-weight: 500;
    font-size: 23px;

}

.registraion__item{
    display: flex;
    justify-content: space-between;
}

.registraion__item input{
    text-align: center;
    font-weight: 500;
    border: 1px solid #ced8e2; /* Добавить границу цвета Bootstrap primary */
    height: 33px;
    background-color: #f9f0f0;/* Задать фон цвета Bootstrap primary */
    color: #000000; /* Цвет текста белый */
    border-radius: .25rem; /* Закругленные углы, как у кнопки */
    padding: .375rem .75rem; /* Отступы, как у кнопки */
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out; 

}



.registraion__checkbox{
    gap: 10px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}


.registraion__span{
    color: #8367c4;

}

.registraion__button{
    display: flex;
    margin-top: 7%;
    justify-content: center;
}

.registraion__button button{
    font-size: 15px;
    cursor: pointer;
    width: 245px;
    height: 48px;
    
   

}

.registraion__button button:disabled{
    color: #c9bcb3;
    border: 1px solid #c9bcb3;

    
}

.info_message{
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.success{
    color:green;
}

.error{
    color: red;
}

.login_link{
    display: flex;
    justify-content: center;
}